* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
}

.container {
	padding: 5px;
}

.horiz-li {
	display: inline-block;
	margin: 0 1em 0 1em;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}

.flex-item-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-container {
	/* background-color: #f3f3f3; */
	/* border-bottom: 1px solid #ccc; */
	height: 70px;
}
